body{
    background:url(../images/criminal_justice/body-bg.jpg) repeat-x #FFFFFF !important;
}
#top-form{
    background:url(../images/criminal_justice/form-banner-top.png) no-repeat;
    width:276px;
    height:79px;
    margin:0 auto -15px auto;
}

#footer-wrap{
    background:url(../images/criminal_justice/footer-wrap-bg.jpg) no-repeat;
}

#footer{
    background:#190f5e !important;
}

#formstep1next {
    background:url(../images/criminal_justice/next.png) no-repeat;
}

#formstep2submit{
    background:url(../images/criminal_justice/submit.png) no-repeat;
}