body{
    background:url(../images/military/body-bg.jpg) repeat-x #FFFFFF !important;
}
#top-form{
    background:url(../images/military/form-banner-top.png) no-repeat;
    width:276px;
    height:79px;
    margin:0 auto -15px auto;
}

#footer-wrap{
    background:url(../images/military/footer-wrap-bg.jpg) no-repeat;
}

#footer{
    background:#515e2a !important;
}

#formstep1next {
    background:url(../images/military/next.png) no-repeat;
}

#formstep2submit{
    background:url(../images/military/submit.png) no-repeat;
}