body{
    background:url(../images/university_bound/body-bg.jpg) repeat-x #FFFFFF !important;
}
#top-form{
    background:url(../images/university_bound/form-banner-top.png) no-repeat;
    width:276px;
    height:79px;
    margin:0 auto -15px auto;
}

#footer-wrap{
    background:url(../images/university_bound/footer-wrap-bg.jpg) no-repeat;
}

#footer{
    background:#f48326 !important;
}

#formstep1next {
    background:url(../images/university_bound/next.png) no-repeat;
}

#formstep2submit{
    background:url(../images/university_bound/submit.png) no-repeat;
}